.button {
  background-color: #79d1ff;
  height:40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}