.task-details-container {
  background: white;
  margin: 15px 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
.task-details-container h2 {
  margin-bottom: 5px;
  color: #79d1ff;
}

.back-button-container {
  width: 30%;
  margin-top: 10px
}